@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.cim {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 8px ;
    padding: 0px 10px 10px 10px;
    color: white;
}

.evszam{
    margin-left: 40px;
    color: #f6fcf9;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 70px;
}

.nev {
    font-size: 25px;
}

body {
    background-image: url(kepek/hatter.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.quiz-body {
    color: #fff;
    overflow: hidden;
}

b {
    color: #008080;
}

.kek {
    color: #008080;
}

.text-info {
    color: #008080 !important;
}

.navbar {
    background-color: #ffffff00;
    z-index: 1;   
}

.nav-item {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
}

.nav-item:hover {
    background-color: #f6fcf9;
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.közep-szöveg {
    margin: 0px 40px;
    margin-bottom: 60px;
    line-height: 1.5;
}

p { 
    color: white;
    padding: 10px;
}

.card {
   width: 300px;
    height: 660px;
    margin: 0px auto;
    border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(2, 233, 250, 0.2) 0 15px 30px -5px;
  border: 3px solid #008080;
  background: rgb(5, 6, 45);
}

.card-title {
    color: #f6fcf9;
}

.main {
    min-height: 100vh;
    background: url(kepek/hatter.jpg);
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: #008080;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #008080;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: #005c5c;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    color: #008080;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #008080;
    border: 2px solid #008080;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #008080;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #008080;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #005c5c;
    border-color: #005c5c;
}

.quiz-section {
    position: relative;
    left: -50%;
    /* left: 0; */
    width: 100%;
    background: #001d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #008080;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #008080, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #008080;
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: #008080;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #008080;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    /* pointer-events: none; */
    transition: .5s;
}

.quiz-footer .next-btn:hover {
    background: #005c5c;
    border-color: #005c5c;
}

.keret  {
    background-color: #ffffff00;
    margin: 0px 120px;
    border-radius: 20px;
}

.carousel-magassag {
    min-height: 400px;
    max-height: 1000px;
    margin: 50px auto;
    padding: 20px;
}

.keret {
    border: 3px solid #008080;
    border-radius: 5px;
    box-shadow: rgba(2, 233, 250, 0.2) 0 15px 30px -5px;
}

.mg-top {
    margin-top: 40px;
}

.alulra {
    clear: both;
}
  
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #222222;
    padding: 70px 0;
    margin-top: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #008080;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*reszponzív*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.img-keret {
    --b: 8px;  
    --s: 60px; 
    --g: 14px; 
    --c: #008080; 
  
    padding: calc(var(--b) + var(--g));
    background-image:
      conic-gradient(from  90deg at top    var(--b) left  var(--b), #0000 25%, var(--c) 0),
      conic-gradient(from -90deg at bottom var(--b) right var(--b), #0000 25%, var(--c) 0);
    background-position:
      var(--_p, 0%) var(--_p, 0%),
      calc(100% - var(--_p, 0%)) calc(100% - var(--_p, 0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    transition: 
      background-position .3s var(--_i,.3s), 
      background-size .3s calc(.3s - var(--_i, .3s));
  }
  .img-keret:hover {
    background-size: calc(100% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g) / 2);
    --_i: 0s;
  }