.cim {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 8px auto;
    padding: 10px;
}

.nev {
    font-size: 25px;
}

.kep   {
    width: 300px;
    margin: 50px auto;
    border: 4px black solid;
}

body {
    background-color: #f6fcf9;
}

.bg-primary {
    background-color: #008080!important;
}

b {
    color: #008080;
}

.kek {
    color: #008080;
}

.text-info {
    color: #008080 !important;
}

.nav-item {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
}

.nav-item:hover {
    background-color: #f6fcf9;
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.közep-szöveg {
    margin: 0px 120px;
    text-align: justify; 
}