.cim {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 8px auto;
    padding: 10px;
}

.nev {
    font-size: 25px;
}

.kep   {
    width: 300px;
    margin: 50px auto;
    border: 4px black solid;
}

body {
    background-image: url(kepek/hatterszurke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: #d2d6d2;
}

.bg-primary {
    background-color: #016b78!important;
}

b {
    color: darkturquoise;
}

.kek {
    color: #016b78;
}

.text-info {
    color: #016b78 !important;
}

.nav-item {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 12px;
}

.nav-item:hover {
    background-color: #00a6a6;
}